<!-- <mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Dashboard</span>
    <div class="button-groups">
      <p class="slider-text">Dark Mode</p>
      <div>
        <mat-slide-toggle [(ngModel)]="isChecked" (change)="changed()"> </mat-slide-toggle>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="c">
<div class="chart-container">
  <verkehr-chart id="vchart" [theme]="theme"></verkehr-chart>
  <fussgaenger-chart id="fchart" [theme]="theme"></fussgaenger-chart>
</div>
<covid-faelle-chart id="cchart" [theme]="theme"></covid-faelle-chart>
</div> -->


<div class="chart-container">
  <verkehr-chart id="vchart" class="charts" [theme]="theme"></verkehr-chart>
  <fussgaenger-chart id="fchart" class="charts" [theme]="theme"></fussgaenger-chart>
  <covid-faelle-chart id="cchart" class="charts" [theme]="theme"></covid-faelle-chart>
</div>
